@model ToolRental.ViewModels.CreateOrEditRentalViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Rental</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.result, new SelectList(Model.Customers, "CustomerId", "CustomerName"),
                     "-- Please select a Customer --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateRented, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateRented, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateRented, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
<div class="form-group">
    @*<p>@Html.ActionLink("Add Tool", "AddTools")</p>*@

    <a href="@Url.Action("AddTools", "Rentals")" class="btn btn-default">
        <i class="fas fa-plus-square"></i> Add
    </a>
    <h4>Rental Items</h4>
    <table class="table">
        <thread>
            <tr>
                <th>
                    Tool Id
                </th>
                <th>
                    Tool Name
                </th>
            </tr>
        </thread>

        @foreach (var item in Model.RentalTools)
        {
            <tr>
                <td>
                    @item.ToolId
                </td>
                <td>
                    @item.ToolName
                </td>
            </tr>
        }
    </table>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
