@model ToolRental.Models.Tool

<h3>Are you sure you want to remove this?</h3>
<div>
    <h4>Tool</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ToolID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { Id = Model.ToolID })
        </div>
    }
</div>
