@model ToolRental.ViewModels.CustomerRentalDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RentalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRented)
        </dd>

    </dl>
</div>
<div>
    <h4>Borrowed Tools</h4>
    <table class="table">
        <thread>
            <tr>
                <th>
                    Tool Id
                </th>
                <th>
                    Tool Name
                </th>
            </tr>
        </thread>

        @foreach (var item in Model.RentalTools)
        {
            <tr>
                <td>
                    @item.ToolId
                </td>
                <td>
                    @item.ToolName
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
